@use 'hero';

@import 'variables.scss';
@import 'reset.scss';
@import 'mixing.scss';
@import '_fonts.scss';

body {
    background-color: $corDeFundo;
    font-family: Avenir, sans-serif;
}

.text--big {
    @include text(18px);
}

.text {
    @include text;
}

.text--small {
    @include text(12px);
}

.title--big {
    @include title(44px);
}

.title {
    @include title(40px);
}

.title--small {
    @include title(28px);
}

.link-text {
    @include text(18px);
    color: $corSecundariaDeTexto;
    text-decoration: underline;
}