//cores

$corDeFundo: #040714;
$corPrincialDeTexto: silver;
$corSecundariaDeTexto: #f9f9f9;

$corBotaoPrincipal: #02d6e8;
$corBotaoPrincipalHover: #02b2c2;
$corTextoBotao: #02172A;

//fonte

$fontSizeMixin: 16px;
$fontSizeMixinTitle: 40px;

